<div class="col">
    <table mat-table [dataSource]="signs" class="mat-elevation-z8" align="center">


        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Signs </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['name']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['name'];"></tr>
    </table>
</div>

<div class="col">
    <table mat-table [dataSource]="houses" class="mat-elevation-z8" align="center">

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Houses </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['name']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['name'];"></tr>
    </table>
</div>

<div class="col">
    <table mat-table [dataSource]="planets" class="mat-elevation-z8" align="center">

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Planets </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 1 </th>
            <td mat-cell *matCellDef="let element"> 1 </td>
            <td mat-footer-cell *matFooterCellDef> bu </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['name', 'action']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['name', 'action'];"></tr>
        <tr mat-footer-row *matFooterRowDef="['name', 'action']"></tr>
    </table>
</div>