<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
        (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
</mat-toolbar>

<mat-drawer-container class="example-container">
    <mat-drawer #drawer mode="side">
        <mat-nav-list>
            <a mat-list-item routerLink="/sign-house-plant">
                Знаки, дома, планеты
            </a>
            <a mat-list-item routerLink="/paragraph">
                Параграфы
            </a>
            <a mat-list-item routerLink="/report">
                Репорты
            </a>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <div class="target">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>