<table mat-table [dataSource]="paragraph" class="mat-elevation-z8" align="center">

    <ng-container *ngFor="let c of columns" [matColumnDef]="c">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{c}} </th>
        <td mat-cell *matCellDef="let element"> {{ getColumnData(c, element) }} </td>
        <td mat-footer-cell *matFooterCellDef>
            <form [formGroup]="form">
                <mat-form-field class="example-form-field" *ngIf="showInputs && !select[c]">
                    <mat-label>{{c}}</mat-label>
                    <input matInput type="text" [formControlName]="c">
                </mat-form-field>
                <mat-form-field appearance="fill" *ngIf="showInputs && select[c]">
                    <mat-label>{{c}}</mat-label>
                    <mat-select [formControlName]="columnToFormControl[c]">
                        <mat-option *ngFor="let s of select[c]" [value]="s.id">
                            {{s.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
        </td>
    </ng-container>

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <mat-icon aria-hidden="false" (click)="delete(element.id)">delete</mat-icon>
        </td>
        <td mat-footer-cell *matFooterCellDef>
            <mat-icon *ngIf="!showInputs" aria-hidden="false" (click)="showInputs=true">add</mat-icon>
            <mat-icon *ngIf="showInputs" aria-hidden="false" (click)="save()">save</mat-icon>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToShow"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToShow;"></tr>
    <tr mat-footer-row *matFooterRowDef="columnsToShow"></tr>
</table>